main{
    padding: 25px;
}

@media screen and (min-width: 850px) {
    .d-flex {
      width: 75%;
      float: left;
    }
    .aside{
        float: right;
        width: 23%;
    }
}

h6{
    text-align: center;
}

.price{
    text-align: right;
    width:100%;
}

.place{
    margin-top:10px;
    width: 100%;
    border-style: none;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-weight: bold;
}

.nav-item a{
    color: white;
}

.call{
    width:300px;
}